[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "discursive"]
	path = discursive
	url = https://github.com/pwkraft/discursive
	shallow = true
	registered = true
